* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(57, 63, 151);
  background: url(fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 50%;
  padding: 20px;
}

h1 {
  width: 100%;
  color: #fff;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}
.row {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 15px;
}
.row .col {
  position: relative;
  width: 100%;
  padding: 0px 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.row .input-group {
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff;
}

.row .input-group input,
.row .input-group.textarea textarea {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 0 10px;
  z-index: 1;
  color: #fff;
}

.row .input-group .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 15px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.row .input-group input:focus + .text,
.row .input-group input:valid + .text {
  top: -35px;
  left: -10px;
}

.row .input-group .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-bottom: solid 2px #fff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.row .input-group input:focus ~ .line,
.row .input-group input:valid ~ .line {
  height: 100%;
}

.row .input-group.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}
.row .input-group.textarea textarea {
  height: 100%;
  resize: none;
}

.row .input-group textarea:focus + .text,
.row .input-group textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.row .input-group textarea:focus ~ .line,
.row .input-group textarea:valid ~ .line {
  height: 100%;
}

.btn {
  background-color: transparent;
  border: solid 2px #fff;
  color: #fff;
  font-size: 18px;
  padding: 10px 25px;
  cursor: pointer;
}

.text-right {
  text-align: right;
}
.card {
  background-color: #023576;
  padding: 40px;
  border: solid 7px #1574da;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 1500px) {
  .container {
    width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}